.login {

    form {
        display: grid;
        gap: 20px;

        div {
            display: grid;
            gap: 10px;
            position: relative;

            label {
                font-size: 14px;
                font-weight: 400;
                opacity: 70%;

                @media screen and (max-width: 500px) {
                    font-size: 12px;
                }
            }

            input {
                border: none;
                border-bottom: 2px solid rgba(0, 0, 0, 0.1);
                outline: none;
                font-size: 16px;
                font-weight: 400;
                padding: 5px;
            }

            .icon {
                position: absolute;
                right: 20px;
                bottom: 20px;
            }

            .error {
                color: red;
                font-size: 12px;
            }
        }
    }

    .login-buttons {
        display: grid;
        gap: 20px;

        a {
            color: #000;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            transition: 0.5s;
            opacity: 70%;
            border: none;
        }

        button {
            background-color: rgba(42, 37, 75, 1);
            color: #fff;

            &:hover {
                background-color: rgba(42, 37, 75, 0.8);
            }
        }
    }
}
